@tailwind base;

a.fc-timegrid-event {
  border-radius: 12px;
  padding: 4px;
}

.fc-event-selected:after,
.fc-event:focus:after {
  border-radius: 12px;
}

.fc .fc-button {
  border-radius: 16px;
}

:root {
  --fc-button-bg-color: hsla(var(--lmublue));
  --fc-button-hover-bg-color: #005c83;
  --fc-button-active-bg-color: #004c6d;
  --fc-button-border-color: hsla(var(--background));
  --fc-button-hover-border-color: hsla(var(--background));
  --fc-button-active-border-color: hsla(var(--background));
}
